<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>webpack</title>
</head>

<body>
  {{>parcials/navigation}}
  <h1>hola hola linda melisa que tal ivon</h1>
  <button id="click">Click</button>
  <img src="static/img/rusa.jpg" alt="rusa">


  {{>parcials/footer}}
</body>

</html>